<div class="main posts-index">
  <div class="container">
    <% @posts.each do | post | %>
    <div class="posts-index-item">
      <div class="user-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user.name,"/users/#{post.user.id}") %>
        </div>
        <div class="post-kiji">
          <h2><%= link_to("SANGO!","/posts/#{post.id}") %></h2>
          <a class="sango"><%= post.first %></a>
          <a class="sango"><%= post.second %></a>
          <a class="sango"><%= post.third %></a>
          <div class="post-kiji-url">
          <p><a href="<%= "/posts/#{post.id}" %>"><%= post.content %></a></p>
          </div>
        </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
